* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #588A35;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    align-items: center;
}

#miCanvas {
    display: block;
    margin: 2vw auto;
    max-width: 95vw;
}

#pizarra {
    background-color: #4A752D;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}

.seccion_puntaje,
.seccion_record {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#puntaje,
#record {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-left: 5px;
}

.seccion_record {
    margin-left: 20px;
}

#controles-tactiles {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#controles-tactiles button {
    font-size: 2rem;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #4A752D;
}

#controles-tactiles>div>button:first-child {
    margin-right: 60px;
}

/* @media (max-width: 480px) {

} */

@media (min-width:1024px) {
    #pizarra {
        width: 700px;
    }

    #controles-tactiles {
        display: none;
    }
}