* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #588A35;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
}

#pizarra {
    background-color: #4A752D;
    width: 700px;
    height: 60px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.seccion_puntaje, .seccion_record {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#puntaje, #record {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-left: 5px;
}

.seccion_record {
    margin-left: 20px;
}